<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RautumnProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEDF86C21E1B9A4B00728304</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEDF86D61E1B9A4B00728304</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEDF86E11E1B9A4B00728304</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
